*{
    box-sizing: border-box;
}
body{
   /* line-spacing:1.5px;*/
   font-family: 'Times New Roman', Times, serif;
}
header{
    font-size: 44px;
    font-weight: 800;
}
.subheader{
    font-size: 32px;
    font-weight:400
}
p{
    margin: auto;
}